<html>
    <%- include('./templates/head.ejs') %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <div class="container containermain">
            <% if(!username) { %>
                <div class="alert alertgreen">
                    Looks like you aren't logged in. <br>
                    If you want to submit your senior quote create an account! <br><br>
                    <a href="/register"><button>Create an Account</button></a>
                    <a href="/login"><button>Login</button></a>
                </div>
            <% } else if(statusLvl == 0 && username) { %>
                <div class="alert alertred">
                    Quote Submission Status: Not submitted <br>
                    Go through the quote submission process to join your peers! <br><br>
                    <a href="/updateprofile"><button>Submit Quote</button></a>
                </div>
            <% } else if(statusLvl == 1) { %>
                <div class="alert alertgreen">
                    Quote Submission Status: Pending review <br>
                    Make sure to check back in later and see if the quote gets accepted or denied.
                </div>
            <% } else if(statusLvl == 2) { %>
                <div class="alert alertred">
                    Quote Submission Status: Denied <br>
                    Deny Reason: <%=deniedMsg%> <br>
                    Resubmit a new quote to go back into review! <br><br>
                    <a href="/updateprofile"><button>Resubmit Quote</button></a>
                </div>
            <% } else if(statusLvl == 3) { %>
                <div class="alert alertgreen">
                    Quote Submission Status: Accepted
                </div>
            <% } %>
    
            <h1 style="margin-bottom: 0;">Save Senior Quotes</h1>
            <h2 style="margin-top: 0;">Developed by Nolan Jones</h2>
            <p>
                This is place where students who's schools do not have senior quotes can run their own. <br>
                As a proof of concept the site will provide a place to host senior quotes for the Carmel High School class of 2025. <br><br>
                <strong>If you are a Carmel High School student</strong> please consider signing up and submitting your quote!
            </p>

            <h2 style="margin-bottom: 0;">Statistics</h2>
            <h3 style="margin-top: 0;"><%=usercount%> Users<br><%=quotecount%> Quotes</h3>
    
            <h1>Gallery</h1>
            <div class="quoteholder">
                <% quotes.forEach(function(q) { %>
                    <%- include('./templates/quote.ejs', {
                        quotepicture: q.picture,
                        quotefirstname: q.firstname,
                        quotelastname: q.lastname,
                        quotequote: q.quote,
                    }) %>
                <% }); %>
            </div>
            <% if(quotes.length >= 25) { %>
            <button id="galleryNextButton" onclick="nextpage()">Next Page</button>
            <script>
                function nextpage(){
                    window.location.href = "/gallery?page=2"
                }
            </script>
            <% } %>
        </div>
    </body>
</html>