<html>
    <%- include('./templates/head.ejs', {pageTitle: "Profile"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>

        <h1>Profile</h1>
        <h2>Quote</h2>
        <%- include('./templates/quote.ejs', {
            quotepicture: picture,
            quotefirstname: firstname,
            quotelastname: lastname,
            quotequote: quote,
        }) %>

        <h2>Quote Submission</h2>
        <p>
            Quote Submission Status: <% if(statusLvl == 0) { %>
                Not submitted
            <% } else if (statusLvl == 1) { %>
                Pending review
            <% } else if (statusLvl == 2) { %>
                Denied <br>
                Deny Reason: <%=deniedMsg%>
            <% } else if (statusLvl == 3) { %>
                Accepted
            <% }%> <br>

            <a href="/updateprofile">Submit Quote</a>
        </p>

        <h2>Account Info</h2>
        <p>
            Username: <%=username%> <br>
            Account type: <% if(accessLvl == 0) { %>
                Student
            <% } else if (accessLvl == 1) { %>
                Moderator
            <% } else if (accessLvl == 2) { %>
                Admin
            <% }%> <br>

            Account verified: <% if(verified) { %>
                True
            <% } else { %>
                False
            <% }%> <br>
        </p>
        
        <h2>Security</h2>
        <a href="/resetpassword">Reset Password</a>
    </body>
</html>