<html>
    <%- include('./templates/head.ejs', {pageTitle: "Review"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>

        <h1>Review Page <%=page%></h1>
        <% if(quotes.length >= 25) { %>
            <button id="galleryNextButton" onclick="nextpage()">Next Page</button>
        <% } %>
        <% if(page > 1) { %>
            <button id="galleryPrevButton" onclick="prevpage()">Prev Page</button>
        <% } %>
        <div class="quoteholder">
            <% quotes.forEach(function(q) { %>
                <%- include('./templates/reviewquote.ejs', {
                    q: q
                }) %>
            <% }); %>
        </div>
        <% if(quotes.length >= 25) { %>
            <button id="galleryNextButton" onclick="nextpage()">Next Page</button>
        <% } %>
        <% if(page > 1) { %>
            <button id="galleryPrevButton" onclick="prevpage()">Prev Page</button>
        <% } %>
        <script>
            var page = <%=page%>;

            function nextpage(){
                window.location.href = "/mod/review?page=" + (page + 1);
            }

            function prevpage(){
                window.location.href = "/mod/review?page=" + (page - 1);
            }
        </script>
    </body>
</html>