<html>
    <%- include('./templates/head.ejs', {pageTitle: "Update Profile"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>

        <h1>How to get your school photo</h1>
        <p>
            To verify you're identity please do the following: <br>
            1. Open this link: <a href="https://carmel.instructure.com/files/folder/users_9532/profile%20pictures" target="_blank">Canvas</a> <br>
            2. Log in with the canvas prompt <br>
            3. Download your profile picture from the screen (3 dots button on the far right of image) <br>
            4. Press the Verify Identity and use your image for the quote submission! <br>
        </p>

        <h1>Update Profile</h1>
        <form action="/user/updateprofile" method="post" enctype="multipart/form-data">
            <p>First Name: <input id="firstnameInput" type="text" placeholder="Enter First Name" name="firstname" value="<%=firstname%>"></p>
            <p>Last Name: <input id="lastnameInput" type="text" placeholder="Enter Last Name" name="lastname" value="<%=lastname%>"></p>
            <p>Quote: <input id="quoteInput" type="text" placeholder="Enter Quote" name="quote" value="<%=quote%>"></p>
            <p>Picture: <input id="pictureInput" type="file" name="picture" accept="images/*"></p>
            <% if(picture) { %>
                <img id="picturePreview" src="<%=picture%>" alt="current profile picture" style="max-width: 100;">
            <% } else { %>
                <img id="picturePreview" src="/public/missingpicture.png" alt="current profile picture" style="max-width: 100;">
            <% }%><br>
            <button type="submit">Update Profile</button>
            <br><a href="/profile">Cancel</a>
        </form>
        <h2>Notice</h2>
        <p>All profile changes go under review by moderation before being pushed to the database</p>
        
        <script src="public/js/form.js"></script>
        <script src="public/js/updateprofile.js"></script>
    </body>
</html>