<html>
    <%- include('./templates/head.ejs', {pageTitle: "Update Profile"}) %>
    <body>
        <%- include('./templates/navbar.ejs') %>
        <div class="container containermain">
            <h1>How to get your school photo</h1>
            <p style="margin: 0 auto; text-align: left; width: fit-content;">
                <strong>To verify you're identity please do the following:</strong> <br><br>
                1. Open this link: <a href="https://carmel.instructure.com/files/folder/users_9532/profile%20pictures" target="_blank">Canvas</a> <br>
                2. Log in with the canvas prompt <br>
                3. Download your profile picture from the screen (3 dots button on the far right of image) <br>
                4. Press the Verify Identity and use your image for the quote submission! <br>
            </p>
    
            <h1>Update Profile</h1>
            <form action="/user/updateprofile" method="post" enctype="multipart/form-data">
                <input id="firstnameInput" class="textinput" type="text" placeholder="Enter First Name" name="firstname" value="<%=firstname%>" maxlength="20" style="display: inline-block;">
                <input id="lastnameInput" class="textinput" type="text" placeholder="Enter Last Name" name="lastname" value="<%=lastname%>" maxlength="20" style="display: inline-block;">
                <input id="quoteInput" class="textinput" type="text" placeholder="Enter Quote" name="quote" value="<%=quote%>" maxlength="200" style="display: block; margin-top: 0; width: 30rem;">
                <p>Picture: <input id="pictureInput" type="file" name="picture" accept="images/*"></p>
                <% if(picture) { %>
                    <img id="picturePreview" src="<%=picture%>" alt="current profile picture" style="width: 170px;">
                <% } else { %>
                    <img id="picturePreview" src="/public/missingpicture.png" alt="current profile picture" style="width: 170px;">
                <% }%><br><br>
                <button type="submit">Update Profile</button>
                <a href="/profile"><button>Cancel</button></a>
            </form>
            <h2>Notice</h2>
            <p>All profile changes go under review by moderation before being pushed to the database.<br>
            Your quote should be close to school appropriate (no swear words, slurs, or bullying).<br>
            If your aren't sure if something is allowed just submit and wait for review.</p>
            
            <script src="public/js/form.js"></script>
            <script src="public/js/updateprofile.js"></script>
        </div>
    </body>
</html>