<div id="<%=q.userId%>" class="review">
    <%- include('./quote.ejs', {
        quotepicture: q.picture,
        quotefirstname: q.firstname,
        quotelastname: q.lastname,
        quotequote: q.quote,
    }) %>

    <p>
        Username: <%=q.username%> <br>
    </p>
    <button onclick="acceptquote('<%=q.userId%>')">Accept</button>
    <button onclick="denyquote('<%=q.userId%>')">Deny</button> <br>
    <input id="<%=q.userId%>-denyreason" class="textinput" type="text" placeholder="Deny Reason">
</div>